%p#message-p
  %span#message= h(@message.message.force_encoding("UTF-8"))

%p
  To see your change on the front page, send a payment of at least
  = btc_format(@min_bid)
  to the following address:

%p
  = haml :_address, :locals => {:address => @message.address}

%img(src="/qrcode/#{@message.address}.png")

%p
  Your message will be displayed for 1 hour, or until someone else outbids you.

%p
  If you are outbid, the clock will stop ticking and your message will be
  removed. Your message will reappear when the winning message expires, or
  you increase your bid.

%p
  Your bid may take up to a minute to be received through the bitcoin network.

%p
  This is a bitcoin experiment by
  = surround '', '.' do
    %a(href='http://www.github.com/jbaudanza')Jonathan Baudanza

  All proceeds will benefit
  = surround '', ',' do
    %a(href='http://www.wishbone.org')> wishbone.org
  a non-profit that sends low-income high school students to extracurricular
  programs.

%p
  %a(href='/queue') View a queue of all messages
  %br
  %a(href='/') return home
