%h1 This is a queue of all messages waiting to be displayed

%p
  Send a payment to any address to move it up in the queue.

%table.queue
  %thead
    %tr
      %th bid
      %th message
      %th address
  %tbody
    -@queue.each do |message|
      %tr(class="#{'winner' if @winner && message.id == @winner.id}")
        %td= btc_format(message.bid)
        %td
          %a(href="/messages/#{message.id}")= h(truncate(message.message))
        %td
          = haml :_address, :locals => {:address => message.address}
        %td.time-remaining(data-seconds="#{message.time_remaining}")

%p
  %a(href='/') return home